doctype html
html
  head
    meta(charset='utf-8')
    | &#x9;
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    | &#x9;
    title Profile &mdash; Free Website Template, Free HTML5 Template by freehtml5.co
    | &#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1')
    | &#x9;
    meta(name='description', content='Free HTML5 Website Template by freehtml5.co')
    | &#x9;
    meta(name='keywords', content='free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive')
    | &#x9;
    meta(name='author', content='freehtml5.co')

    // Facebook and Twitter integration
    meta(property='og:title', content='')
    | &#x9;
    meta(property='og:image', content='')
    | &#x9;
    meta(property='og:url', content='')
    | &#x9;
    meta(property='og:site_name', content='')
    | &#x9;
    meta(property='og:description', content='')
    | &#x9;
    meta(name='twitter:title', content='')
    | &#x9;
    meta(name='twitter:image', content='')
    | &#x9;
    meta(name='twitter:url', content='')
    | &#x9;
    meta(name='twitter:card', content='')
    | &#x9;
    link(href='https://fonts.googleapis.com/css?family=Space+Mono', rel='stylesheet')
    | &#x9;
    link(href='https://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet')
    // Animate.css
    link(rel='stylesheet', href='stylesheets/animate.css')
    // Icomoon Icon Fonts
    link(rel='stylesheet', href='stylesheets/icomoon.css')
    // Bootstrap
    link(rel='stylesheet', href='stylesheets/bootstrap.css')
    // Theme style
    link(rel='stylesheet', href='stylesheets/style.css')
    // Modernizr JS
    script(src='javascripts/modernizr-2.6.2.min.js')
    // FOR IE9 below
    //if lt IE 9
      script(src='javascripts/respond.min.js')
  | &#x9;
  body
    .fh5co-loader
    | &#x9;
    | &#x9;
    #page
      header#fh5co-header.fh5co-cover.js-fullheight(role='banner', style='background-image:url(images/IMG_5459.jpg);', data-stellar-background-ratio='0.5')
        .overlay
        | &#x9;&#x9;
        .container
          .row
            .col-md-8.col-md-offset-2.text-center
              .display-t.js-fullheight
                .display-tc.js-fullheight.animate-box(data-animate-effect='fadeIn')
                  .profile-thumb(style='background: url(images/IMG_6018.jpg);')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  h1
                    span Jatinder Singh
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  h3
                    span Full-Stack Developer
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  p
                  ul.fh5co-social-icons
                    li
                      a(href='#')
                        i.icon-twitter2
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='#')
                        i.icon-facebook2
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='#')
                        i.icon-linkedin2
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='#')
                        i.icon-dribbble2
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  p
      | &#x9;
      #fh5co-about.animate-box
        .container
          .row
            .col-md-8.col-md-offset-2.text-center.fh5co-heading
              h2 About Me
          | &#x9;&#x9;&#x9;
          .row
            .col-md-4
              ul.info
                li
                  span.first-block Full Name:
                  span.second-block Jatinder Singh
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  span.first-block Phone:
                  span.second-block +91 98883 60667
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  span.first-block Email:
                  span.second-block jatinder17966@gmail.com
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  span.first-block Website:
                  span.second-block www.yoursite.com
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  span.first-block Address:
                  span.second-block Mohali, Panjab, India
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-8
              h2 Hello, I'm Jatinder
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | A passionate and experienced full-stack developer with expertise in both front-end and back-end technologies. With [number] years of professional experience, I have a strong foundation in building robust and scalable web applications.
              p
                | On the front-end, I specialize in HTML, CSS, and JavaScript frameworks like React.js and Angular, creating responsive and intuitive user interfaces. I have a keen eye for design and a deep understanding of UX principles, ensuring a seamless user experience. 
              | &#x9;&#x9;&#x9;&#x9;&#x9;

              p
                | On the back-end, I am proficient in server-side languages such as Node.js and Python, along with frameworks like Express.js and Django. I have hands-on experience in database management using SQL and NoSQL databases like MongoDB, MySQL, and PostgreSQL.
               | If you're looking for a dedicated full-stack developer who can bring your ideas to life, let's connect!"
              | &#x9;&#x9;&#x9;&#x9;&#x9;
               

              p
              ul.fh5co-social-icons
                li
                  a(href='#')
                    i.icon-twitter2
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='#')
                    i.icon-facebook3
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='#')
                    i.icon-linkedin2
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='#')
                    i.icon-dribbble2
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
      | &#x9;
      #fh5co-resume.fh5co-bg-color
        .container
          .row.animate-box
            .col-md-8.col-md-offset-2.text-center.fh5co-heading
              h2 My Resume
          | &#x9;&#x9;&#x9;
          .row
            .col-md-12.col-md-offset-0
              ul.timeline
                li.timeline-heading.text-center.animate-box
                  div
                    h3 Work Experience
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li.animate-box.timeline-unverted
                  .timeline-badge
                    i.icon-suitcase
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .timeline-panel
                    .timeline-heading
                      h3.timeline-title Senior Developer
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.company Company Name - 2016 - Current
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .timeline-body
                      p
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li.timeline-inverted.animate-box
                  .timeline-badge
                    i.icon-suitcase
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .timeline-panel
                    .timeline-heading
                      h3.timeline-title Junior Developer
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.company Company Name - 2013 - 2015
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .timeline-body
                      p
                        | Far far away, behind the word mountains, they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li.animate-box.timeline-unverted
                  .timeline-badge
                    i.icon-suitcase
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .timeline-panel
                    .timeline-heading
                      h3.timeline-title UI/UX Designer
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.company Company Name - 2010 - 2012
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .timeline-body
                      p
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                br
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li.timeline-heading.text-center.animate-box
                  div
                    h3 Education
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li.timeline-inverted.animate-box
                  .timeline-badge
                    i.icon-graduation-cap
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .timeline-panel
                    .timeline-heading
                      h3.timeline-title Masters Degree
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.company University Name - 2007 - 2009
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .timeline-body
                      p
                        | Far far away, behind the word mountains, they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li.animate-box.timeline-unverted
                  .timeline-badge
                    i.icon-graduation-cap
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .timeline-panel
                    .timeline-heading
                      h3.timeline-title Bachelors Degree
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.company University Name - 2002 - 2006
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .timeline-body
                      p
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li.timeline-inverted.animate-box
                  .timeline-badge
                    i.icon-graduation-cap
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .timeline-panel
                    .timeline-heading
                      h3.timeline-title Diploma Course
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.company College Name - 1999 - 2001
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .timeline-body
                      p
                        | Far far away, behind the word mountains, they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li.animate-box.timeline-unverted
                  .timeline-badge
                    i.icon-graduation-cap
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .timeline-panel
                    .timeline-heading
                      h3.timeline-title Graduation
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      span.company College Name - 1994 - 1998
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .timeline-body
                      p
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
      | &#x9;
      | &#x9;
      #fh5co-features.animate-box
        .container
          .services-padding
            .row
              .col-md-8.col-md-offset-2.text-center.fh5co-heading
                h2 My Services
            | &#x9;&#x9;&#x9;&#x9;
            .row
              .col-md-4.text-center
                .feature-left
                  span.icon
                    i.icon-paintbrush
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .feature-copy
                    h3 Web Design
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    p Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .col-md-4.text-center
                .feature-left
                  span.icon
                    i.icon-briefcase
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .feature-copy
                    h3 Branding
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    p Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .col-md-4.text-center
                .feature-left
                  span.icon
                    i.icon-bargraph
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .feature-copy
                    h3 Web Developent
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    p Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.
              | &#x9;&#x9;&#x9;&#x9;&#x9;
      | &#x9;
      #fh5co-skills.animate-box
        .container
          .row
            .col-md-8.col-md-offset-2.text-center.fh5co-heading
              h2 Skills
          | &#x9;&#x9;&#x9;
          .row.row-pb-md
            .col-md-3.col-sm-6.col-xs-12.text-center
              .chart(data-percent='95')
                span
                  strong HTML5
                  | 95%
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-3.col-sm-6.col-xs-12.text-center
              .chart(data-percent='93')
                span
                  strong CSS3
                  | 93%
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-3.col-sm-6.col-xs-12.text-center
              .chart(data-percent='90')
                span
                  strong jQuery
                  | 90%
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-3.col-sm-6.col-xs-12.text-center
              .chart(data-percent='89')
                span
                  strong PHP
                  | 89%
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-3.col-sm-6.col-xs-12.text-center
              .chart(data-percent='85')
                span
                  strong MySQL
                  | 85%
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-3.col-sm-6.col-xs-12.text-center
              .chart(data-percent='40')
                span
                  strong React JS
                  | 40%
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-3.col-sm-6.col-xs-12.text-center
              .chart(data-percent='60')
                span
                  strong Node JS
                  | 60%
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-3.col-sm-6.col-xs-12.text-center
              .chart(data-percent='90')
                span
                  strong JavaScripts 
                  | 90%
          | &#x9;&#x9;&#x9;
          .row
            .col-md-6
              .progress-wrap
                h3
                  span.name-left HTML5/CSS3
                  span.value-right 95%
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .progress
                  .progress-bar.progress-bar-1.progress-bar-striped.active(role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100', style='width:90%')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .progress-wrap
                h3
                  span.name-left WordPress
                  span.value-right 90%
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .progress
                  .progress-bar.progress-bar-2.progress-bar-striped.active(role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100', style='width:90%')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .progress-wrap
                h3
                  span.name-left PHP
                  span.value-right 89%
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .progress
                  .progress-bar.progress-bar-3.progress-bar-striped.active(role='progressbar', aria-valuenow='89', aria-valuemin='0', aria-valuemax='100', style='width:89%')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .progress-wrap
                h3
                  span.name-left Node JS
                  span.value-right 60%
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .progress
                  .progress-bar.progress-bar-4.progress-bar-striped.active(role='progressbar', aria-valuenow='85', aria-valuemin='0', aria-valuemax='100', style='width:60%')
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-6
              .progress-wrap
                h3
                  span.name-left Design
                  span.value-right 95%
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .progress
                  .progress-bar.progress-bar-5.progress-bar-striped.active(role='progressbar', aria-valuenow='95', aria-valuemin='0', aria-valuemax='100', style='width:95%')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .progress-wrap
                h3
                  span.name-left React JS
                  span.value-right 40%
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .progress
                  .progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width:40%')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .progress-wrap
                h3
                  span.name-left JavaScripts
                  span.value-right 90%
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .progress
                  .progress-bar.progress-bar-1.progress-bar-striped.active(role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100', style='width:90%')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .progress-wrap
                h3
                  span.name-left jQuery
                  span.value-right 90%
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .progress
                  .progress-bar.progress-bar-3.progress-bar-striped.active(role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100', style='width:90%')
      | &#x9;
      #fh5co-work.fh5co-bg-dark
        .container
          .row.animate-box
            .col-md-8.col-md-offset-2.text-center.fh5co-heading
              h2 Work
          | &#x9;&#x9;&#x9;
          .row
            .col-md-3.text-center.col-padding.animate-box
              a.work(href='#', style='background-image: url(images/portfolio-1.jpg);')
                .desc
                  h3 Project Name
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  span Illustration
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-3.text-center.col-padding.animate-box
              a.work(href='#', style='background-image: url(images/portfolio-2.jpg);')
                .desc
                  h3 Project Name
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  span Brading
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-3.text-center.col-padding.animate-box
              a.work(href='#', style='background-image: url(images/portfolio-3.jpg);')
                .desc
                  h3 Project Name
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  span Illustration
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-3.text-center.col-padding.animate-box
              a.work(href='#', style='background-image: url(images/portfolio-4.jpg);')
                .desc
                  h3 Project Name
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  span Design
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-3.text-center.col-padding.animate-box
              a.work(href='#', style='background-image: url(images/portfolio-5.jpg);')
                .desc
                  h3 Project Name
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  span Website
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-3.text-center.col-padding.animate-box
              a.work(href='#', style='background-image: url(images/portfolio-6.jpg);')
                .desc
                  h3 Project Name
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  span Illustration
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-3.text-center.col-padding.animate-box
              a.work(href='#', style='background-image: url(images/portfolio-7.jpg);')
                .desc
                  h3 Project Name
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  span Brading
            | &#x9;&#x9;&#x9;&#x9;
            .col-md-3.text-center.col-padding.animate-box
              a.work(href='#', style='background-image: url(images/portfolio-8.jpg);')
                .desc
                  h3 Project Name
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  span Illustration
      | &#x9;
      | &#x9;
      #fh5co-started.fh5co-bg-dark
        .overlay
        | &#x9;&#x9;
        .container
          .row.animate-box
            .col-md-8.col-md-offset-2.text-center.fh5co-heading
              h2 Hire Me!
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                | Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                a.btn.btn-default.btn-lg(href='#') Contact Us
      | &#x9;
      #fh5co-consult
        .video.fh5co-video(style='background-image: url(images/cover_bg_1.jpg);')
          .overlay
        | &#x9;&#x9;
        .choose.animate-box
          h2 Contact
          | &#x9;&#x9;&#x9;
          form(action='#')
            .row.form-group
              .col-md-6
                input#fname.form-control(type='text', placeholder='Your firstname')
            | &#x9;&#x9;&#x9;&#x9;
            .row.form-group
              .col-md-6
                input#lname.form-control(type='text', placeholder='Your lastname')
            | &#x9;&#x9;&#x9;&#x9;
            .row.form-group
              .col-md-12
                input#email.form-control(type='text', placeholder='Your email address')
            | &#x9;&#x9;&#x9;&#x9;
            .row.form-group
              .col-md-12
                input#subject.form-control(type='text', placeholder='Your subject of this message')
            | &#x9;&#x9;&#x9;&#x9;
            .row.form-group
              .col-md-12
                textarea#message.form-control(name='message', cols='30', rows='10', placeholder='Say something about us')
            | &#x9;&#x9;&#x9;&#x9;
            .form-group
              input.btn.btn-primary(type='submit', value='Send Message')
      | &#x9;
    | &#x9;
    | &#x9;
    #fh5co-footer
      .container
        .row
          .col-md-12
            p
              | &copy; 2023. All Rights Reserved.
    | &#x9;
    .gototop.js-top
      a.js-gotop(href='#')
        i.icon-arrow-up22
    // jQuery
    script(src='javascripts/jquery.min.js')
    // jQuery Easing
    script(src='javascripts/jquery.easing.1.3.js')
    // Bootstrap
    script(src='javascripts/bootstrap.min.js')
    // Waypoints
    script(src='javascripts/jquery.waypoints.min.js')
    // Stellar Parallax
    script(src='javascripts/jquery.stellar.min.js')
    // Easy PieChart
    script(src='javascripts/jquery.easypiechart.min.js')
    // Main
    script(src='javascripts/main.js')